

.contact {
    border: 1px solid black;
    width: 250px;
    border-radius: 10px;
    position: relative;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.delete {
    display: flex;
    cursor: pointer;
    position: absolute;
    top: 18px;
    right: 15px;
    padding: 5px;
    background-color: #e05651;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.icon {
    margin-right: 8px;
}